
body { 
}

#imdbImage {
	padding-top: 25px;
	padding-bottom: 25px;
	width: 200px;
	height: 80px;
}

h1 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #ffffff; 
}

h3 {
    font-family: Verdana;
	font-weight: bold;
}


#header {
	text-align: center;
    position: relative;
    top: -10px;
    background-color: #000000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#movieName {
    position: relative;
}

#movieJanner {
    position: relative;
}

#movieTime {
    position: relative;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=button] {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addDiv {
	display: inline-block;
    width: 20%;
    margin-left: 50px;
}

#searchdiv {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

#imgdiv {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
}

#imdbpic {
	width: 600px;
	height: 450px;
	vertical-align: top;
}

ul {
    font-family: Verdana;
    font-weight: bold;
}
 li:hover {
    color: #cc0000;
    font-weight: bold;
    text-decoration: none;
}
